/* original font-size=16px, 14px looks better*/
.font-family-semibold{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600 ;
    font-size: 14px;
    color: #ffff;
}
.light-color{
    opacity: 0.4;
}

footer{
    background: #131D24;
}

.up-text{
    padding-top: 4%; 
    padding-right:15%;
    padding-left:15%
}

.down-text{
    padding-right:15%; 
    padding-left:15%; 
    padding-bottom: 3%
}

