.font-family{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600 !important;
    cursor: pointer;
}


.header-padding{
    padding-top: 0%;
    padding-left: 14%;
    padding-right: 14%;
    margin:1% 
}
  .m-r-1{
    margin-right: 5%;
}
.font-s-16{
    padding: 0.5%;
    font-size: 16px;
 
}
.font-size-20{
    font-size: 20px;
    font-weight: 600 !important;
    
}