<h1 class="carousel-title">Specials</h1>
<div class="row">
  <div class="col-1 text-left icon-font"><span role="button" (click)="previous()"><i
        class="material-icons">arrow_back</i> </span></div>
  <div class="col-10">
    <div class="row">
      <div class="col-4" *ngFor="let slide of previewImage;let i=index">
        <img class="img-size" *ngIf="index(i)" [src]="slide">
      </div>
    </div>
  </div>
  <div class="col-1 text-right icon-font">
    <span role="button" (click)="next()"><i class="material-icons">arrow_forward</i> </span>
  </div>
</div>
<p class="bottom-text">See all specials</p>