<div style="background-color: #ffff ">
  <app-header-navbar></app-header-navbar>
  </div>
  <div class="container">
    <div class="d-flex" >
      <div class="mr-auto p-2 font-family font-24 font-regular">Create Account</div>
      <div class="p-2 red-text font-family font-18 font-semi-bold" (click)="login()" >Login</div>
    </div>  
<form [formGroup]="registerForm">
    <div class="row">
      <div class="col-12 m-bottom-2 p-0">
        <input formControlName="firstname" type="text" class="form-control font-family b-r-0" placeholder="First Name">
      </div>
      <div class="col-12 m-bottom-2 p-0">
        <input formControlName="lastname" type="text" class="form-control font-family b-r-0" placeholder="Last Name">
      </div>
      <div class="col-12 m-bottom-2 p-0">
        <input formControlName="email" type="text" class="form-control font-family b-r-0 " placeholder="Email">
      </div>
      <div class="col-12 m-bottom-2 p-0">
        <input formControlName="phone" type="text" class="form-control  font-family b-r-0" placeholder="Phone Number">
      </div>
      <div class="col-6 m-bottom-2 p-0">
        <select formControlName="country" class="form-control font-family b-r-0" id="exampleFormControlSelect1">
            <option>Bosnia and Herzegovina</option>
            <option>Example option one</option>
            <option>Example option two</option>
        </select>
      </div>
      <div class="col-6 m-bottom-2 p-0">
        <select formControlName="city" class="form-control  font-family b-r-0" id="exampleFormControlSelect1">
            <option>Sarajevo</option>
            <option>Example option one</option>
            <option>Example option two</option>
        </select>
      </div>
      <div class="col-12 m-bottom-2 p-0">
        <input formControlName="password" type="text" class="form-control font-family b-r-0"  placeholder="Password">
      </div>
      <div class="col-12 m-bottom-4 p-0">
        <input formControlName="accountrole" type="text" class="form-control font-family b-r-0" placeholder="Confirm Password">
      </div>
      <div class="col-12 m-bottom-2 p-0">
        <button type="button" class="btn  font-family button-style " (click)="createAccount()">Create Account</button>
      </div>
    </div>
</form>
  </div>

  <app-footer></app-footer>