<div style="background-color: #ffff ">
  <app-header-navbar></app-header-navbar>
  </div>
  
<div class="grey-back">
    <form [formGroup]="registerForm">
    <div class="container">
      <div class="d-flex m-bottom-4" >
        <div class="mr-auto font-family font-24 font-regular">Create account</div>
        
        <div class="red-text font-family font-18 font-semi-bold p-b-1" (click)="login()" >Login</div>
      </div>  
      <span class="font-14" class="error-text">*All fields are required</span>
      <div class="row">
          <div class="col-12 m-bottom-6 ">
            <input formControlName="firstname" type="text" class="form-control font-family input-frame"  placeholder="First Name">
          </div>
          <div class="col-12 m-bottom-6 ">
            <input formControlName="lastname" type="text" class="form-control font-family input-frame"  placeholder="Last Name">
          </div>
          <div class="col-12 m-bottom-6 ">
            <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" formControlName="email" type="text" class="form-control font-family input-frame"  placeholder="Email"  >
          </div>
          <div *ngIf="checkEmail()" class="col-12 mb-1 ">
            <span  class="error-text">Email is already taken</span>
          </div>
          <div *ngIf="registerForm.value.email !== null && registerForm.value.email !== ''  "  class="col-12 mb-1 ">
            <span  class="error-text">{{emailErrorMessage}}</span>
          </div>
          <div class="col-12 m-bottom-6 ">
            <input formControlName="phone" type="text" class="form-control font-family input-frame"  placeholder="Phone Number">
          </div>
          <div class="col-6 m-bottom-2 select-padd-left ">
              <div class="box" style="position: relative;" >
                <span class="icon-pos">   <i class="fa fa-angle-down" aria-hidden="true">  </i> </span>
                <select  class="font-family form-control  " [class.light-font]="registerForm.value.country===null" style="height: 100%;" formControlName="country">
                  <option  value="null" style="display: none" >Select country</option>   
                  <option>Bosna i Hercegovina</option>
                  <option>Example option one</option>
                  <option>Example option two</option>
              </select>
              </div>    
          </div>
          <div class="col-6 m-bottom-2 select-padd-right">
              <div class="box" style="position: relative;" >
                <span class="icon-pos">   <i class="fa fa-angle-down" aria-hidden="true">  </i> </span>
                <select  class="font-family form-control " [class.light-font]="registerForm.value.city===null"  style="height: 100%; " formControlName="city" >   
                  <option value="null" style="display: none">Select city</option>
                  <option>Sarajevo</option>
                  <option>Example option one</option>
                  <option>Example option two</option>
              </select>
              </div>            
          </div>
          <!-- change style later for select-->
          <div class="col-12 m-bottom-6">
            <input formControlName="password" type="password" class="form-control font-family input-frame"   placeholder="Password">
          </div>
          <div class="col-12 m-bottom-3">
            <input formControlName="confirmpass" type="password" class="form-control font-family input-frame"  placeholder="Confirm Password">
          </div>
          <div class="col-12 m-bottom-6">
            <span *ngIf="checkPassword()" class="error-text">Invalid confirmation password</span>
            <span *ngIf="!checkPassword() && isConfirmNull()" class="succes-text">Valid password</span>
          </div>
          <div class="col-12 ">
            <button type="button"  class="btn font-family wide-red"  [disabled]="!registerForm.valid || checkPassword() || checkEmail() || !checkEmaiilRegexForm() " (click)="createAccount()">Create Account</button>
          </div>
        </div>
    </div>
    </form>
  </div>
  <app-footer></app-footer>
