<app-header-admin></app-header-admin>

<div class="grey-back font-family" >
  
  <div class="container mb-10 pt-5" >
      <div class="row pl-3 pr-3"> 
      <div class="panel col-md-auto p-2  w-80 "  [class.w-100]="clickedNav==='Dashboard' || add===true "  >
          <div class="row pl-3" >
              <div class="col-md-auto light-font p-2"  [class.red-font]="clickedNav==='Dashboard'" (click)="setClickedNav('Dashboard')">
                  Dashboard
              </div>

              <div class="col-md-auto light-font p-2" [class.red-font]="clickedNav==='Restaurants'" (click)="setClickedNav('Restaurants')">
                  Restaurants
              </div>
              <div  class="col-md-auto light-font p-2" [class.red-font]="clickedNav==='Locations'" (click)="setClickedNav('Locations')">
                  Locations
              </div>
              <div class="col-md-auto light-font p-2" [class.red-font]="clickedNav==='Categories'" (click)="setClickedNav('Categories')">
                  Categories
              </div>

              <div class="col-md-auto light-font p-2 " [class.red-font]="clickedNav==='Users'" (click)="setClickedNav('Users')" >
                  Users
              </div>
              <form *ngIf="clickedNav!=='Dashboard'" [formGroup]="searchForm"  class="col-md-auto  ml-auto  pl-2 pr-2" style="position:relative">
                <div   >
                  <span *ngIf="searchForm.value.name === null || searchForm.value.name===''"  class=" icon-pos "><i class="fa fa-search"
                      aria-hidden="true"></i></span>
                  <input #name formControlName="name" type="text"  style="border: none; text-align:right"
                    class="form-control  font-family pad-left f-w-300"
                    placeholder="Search.. ">
                </div>
              </form>

          </div>
         
      </div>
      <div [hidden]="clickedNav=='Dashboard' || add===true " class="col-md-auto ml-auto pt-1 pl-1 pr-0  w-13"  >
      <button class="red-button" (click)="addButton()" > Add {{clickedNav | lowercase}}</button>
    </div>
    
    </div>
      
        
      <app-dashboard *ngIf="clickedNav==='Dashboard'" (addRestaurant)="addRestaurant($event)"  ></app-dashboard>

      <app-restaurants [addClicked]="add"  [hidden]="clickedNav!=='Restaurants'" (cancelClick)="add=!add"></app-restaurants>

      <app-locations [addClicked]="add" *ngIf="clickedNav==='Locations'" (editClick)="add=true"  (cancelClick)="add=false"></app-locations>

      <app-categories [addClicked]="add" *ngIf="clickedNav==='Categories'" (editClick)="add=true" (cancelClick)="add=false" ></app-categories>

      <app-users [addClicked]="add" *ngIf="clickedNav==='Users'"  (cancelClick)="add=!add"  ></app-users>


    </div>

    
</div>


<app-footer></app-footer>
