<div class="p-3">
  <div class="row">

    <div class="col-md-auto ml-4">Tables</div>
    <div class="col-md-auto ml-auto">
      <button class="font-family" (click)="addPhotos=true">Add tables</button>
    </div>

  </div>


    <div class="row ml-2 light-font pt-2">
        <div class="col-12 pb-3">
            1.
            <span class="icon-pos"> <i class="fa fa-angle-down" aria-hidden="true" > </i> </span>
            <select type="text"  class=" pl-3 ml-2 mb-2" placeholder="Name" >
              <option style="display: none" >Select type of Table</option>
              <option>First</option>
            </select>
                <input type="text" placeholder="Amount" class="ml-2">

            <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
          </div>
      
    </div>
    <div class="row ml-2 light-font pt-2">
        <div class="col-12 pb-3">
            2.
            <span class="icon-pos"> <i class="fa fa-angle-down" aria-hidden="true" > </i> </span>
            <select type="text"  class=" pl-3 ml-2 mb-2" placeholder="Name" >
              <option style="display: none" >Select type of Table</option>
              <option>First</option>
            </select>
                <input type="text" placeholder="Amount" class="ml-2">

            <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
          </div>
      
    </div>    <div class="row ml-2 light-font pt-2">
        <div class="col-12 pb-3">
            3.
            <span class="icon-pos"> <i class="fa fa-angle-down" aria-hidden="true" > </i> </span>
            <select type="text"  class=" pl-3 ml-2 mb-2" placeholder="Name" >
              <option style="display: none" >Select type of Table</option>
              <option>First</option>
            </select>
                <input type="text" placeholder="Amount" class="ml-2">

            <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
          </div>
      
    </div>
</div>