
<div style="background-color: #ffff ">
<app-header-navbar></app-header-navbar>
</div>



<div class="container">
  <div class="d-flex" >
    <div class="mr-auto p-2 font-family font-24 font-regular">Login</div>
    
    <div class="p-2 red-text font-family font-18 font-semi-bold" (click)="createAccount()" >Create account</div>
  </div>  

  <div class="row">
    <div class="col-12 m-bottom-2">
      <input type="text" class="form-control search-slt font-family" style="font-weight:400 !important; border-radius: 0" placeholder="Email">
    </div>
    <div class="col-12 m-bottom-4">
      <input type="text" class="form-control search-slt font-family" style="font-weight:400 !important" placeholder="Password">
    </div>
    <div class="col-12 m-bottom-2">
      <button type="button" class="btn  font-family button-style " >Login</button>
    </div>
  </div>
</div>
