<div [hidden]="addClicked" class="pt-5 pb-5">
    <table class="table table-bordered " style="background:#fff;  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10); ">
      <thead>
        <tr>
          <th scope="col" colspan="5" style="width: 120%">Name</th>
          <th scope="col">Options </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <th scope="row" colspan="5">{{category.name}}</th>
          <td><span><img class="icon" src="/assets/pencil.svg" (click)="getCategoryById(category.id)" alt="An example icon" /></span><span><img
                (click)="deleteCategory(category.id)" class="icon" src="/assets/trash.svg" alt="An example icon" /></span></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <form [formGroup]="categoryForm"> 
  <div class="pb-5" *ngIf="addClicked">
    <div class="panel mt-5 pb-5 ">
  
      <div class="row pt-5 ">
  
        <div class="col-md-auto ml-4">Category name</div>
  
  
      </div>
  
  
      <div class="row ml-2 light-font pt-2">
        <div class="col-12 pb-3">
          <input formControlName="name" type="text" (change)="setCategoryName($event)"  placeholder="Category name" class="ml-2">
        </div>
  
      </div>
  
      <div class="row  pt-2 ml-3">
        <div class="col-md-auto pr-1">
          <button class="grey-button" (click)="cancel()"> Cancel</button>
        </div>
        <div class="col-md-auto ">
          <button class="red-button" [disabled]="!categoryForm.valid" (click)="saveCategory()"> {{buttonType}} category </button>
        </div>
      </div>
  
  
    </div>
  </div>
</form>