<!--HEADER-->
<app-header-navbar class="header-text-color"></app-header-navbar>
<!-- CONTENT ON GRAY BACKGROUND-->
<div class="grey-back" style="position: relative">
  <div class="container search-bar">
    <form [formGroup]="searchForm" action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12 ">
          <div class="row ">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 p-0">
              <span (click)="editFormInput()" class="icon-pos search-icon"><i class="fa fa-search"
                  aria-hidden="true"></i></span>
              <input #name formControlName="name" type="text"
                class="form-control search-element font-family pad-left f-w-300"
                placeholder="Search by restaurant name">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6  p-0" >
              <span class="icon-pos"> <i class="fa fa-angle-down" aria-hidden="true"> </i> </span>
              <select type="button" class="form-control search-element font-family" 
                value="Filter by" (click)="isCollapsedFilterBox = !isCollapsedFilterBox"
                [attr.aria-expanded]="!isCollapsedFilterBox" aria-controls="collapseFilterBox" >
                <option style="display: none">Filter by</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 p-0">
              <button type="button" class="btn font-family find-search" (click)="searchRestaurant()">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- GALLERY -->
  <div class="container gallery-padd">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 img-width" *ngFor="let restaurant of restaurantsFromDB; let i=index">
        <div class="row">
          <div class="col-12">
            <img class="img-size" src="{{restaurant.promophoto}}" (click)="navigateRestaurantSinglePage(restaurant.id)">
            <span class="res-name">{{restaurant.name}}</span>
          </div>
          <div class="col-md-auto p-r-0 " style="padding-right: 0">
            <app-rating [rate]="restaurant.mark"></app-rating>
          </div>
          <div class="col-6 p-0 " >
            <div style="padding-left:3% !important; padding-top:1% "> <!--temporarly-->
              <span>({{restaurant.votes}}) </span>
              <span  class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,1)">$</span>
              <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,2)" >$</span>
              <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,3)" >$</span>
              <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,4)" >$</span>
            </div>
          </div>
          <div class="col-12">
            <hr class="hr-pos">
            <span class="res-type">{{restaurant.foodTypes}} </span>
          </div>
          <div class="col-12">
            <button (click)="navigateRestaurantSinglePage(restaurant.id)" class="button wide-grey">Reserve
              now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--FILTER BOX  should be styled better then remove inline styles-->
  <span *ngIf="!isCollapsedFilterBox" class="triangle triangle-border">▲</span>
  <div  id="collapseFilterBox" [ngbCollapse]="isCollapsedFilterBox" class="filter-box">
    <div class="row filter-padding">
      <div class="col-6 cousine font-light" (click)="restaurantPriceFilter = 0">
        PRICE
      </div>
      <div class="col-6 cousine font-light" (click)="restaurantRating = 0">
        RATING
      </div>
      <div class="col-6">
        <span class="light-mark dolar-sign " [class.red-mark]="isPriceFilterRed(1) "
          (click)="restaurantPriceFilter = 1">$</span>
        <span class="light-mark dolar-sign" [class.red-mark]="isPriceFilterRed(2) "
          (click)="restaurantPriceFilter = 2">$</span>
        <span class="light-mark dolar-sign" [class.red-mark]="isPriceFilterRed(3) "
          (click)="restaurantPriceFilter = 3">$</span>
        <span class="light-mark dolar-sign" [class.red-mark]="isPriceFilterRed(4) "
          (click)="restaurantPriceFilter = 4">$</span>
      </div>
      <div class="col-6 ">
        <span class="fa fa-star light-mark " id="star1" [class.red-mark]="isStarRed(1)"
          (click)="restaurantRating = 1"></span>
        <span class="fa fa-star light-mark" id="star2" [class.red-mark]="isStarRed(2)"
          (click)="restaurantRating = 2"></span>
        <span class="fa fa-star light-mark" id="star3" [class.red-mark]="isStarRed(3)"
          (click)="restaurantRating = 3"></span>
        <span class="fa fa-star light-mark" id="star4" [class.red-mark]="isStarRed(4)"
          (click)="restaurantRating = 4"></span>
        <span class="fa fa-star light-mark" id="star5" [class.red-mark]="isStarRed(5)"
          (click)="restaurantRating = 5"></span>
      </div>
    </div>
    <hr style="width: 100%; left: 0% !important">
    <div class="row" style="padding-left:5%">
      <div class="col-12 cousine font-light" style="padding-bottom: 3%">
        COUSINE
      </div>
      <div class="col-6 cousine" *ngFor="let cousine of cousines" (click)="clickCousine(cousine)"
        [class.red-text]="selectedCousines.includes(cousine)">
        {{cousine}}
      </div>
    </div>
  </div>
  <span *ngIf="!isCollapsedFilterBox" class="triangle">▲</span>
  <!--PAGINATION -->
  <div class="container d-flex justify-content-center">
    <div class="row ">
      <div class="col-3 p-1  p-r-10" (click)="previousPage()">
        <p class="page-font">PREVIOUS</p>
      </div>
      <div class=" col-2 " *ngFor="let page of pages; let i=index" id="box">
        <div class="number-box page-font" [class.active-box]="selectedPageIndex === page" (click)="setPageIndex(page)">
          <div class="page-number ">
            {{page}}
          </div>
        </div>
      </div>
      <div class="col-2 p-1 page-font p-l-8" (click)="nextPage()">NEXT</div>
    </div>
  </div>
  <!--POPULAR LOCATION
<h2 class="popular-title" > Popular Locations</h2>
<div>
    <app-popular-location></app-popular-location>
</div>
-->
  <!--FOOTER-->
  <app-footer></app-footer>