/*  c'S STYLES  */
.nav-bar {
    position: absolute; 
    top:64%;
    padding-left:16%
}

.fa {
    cursor: pointer;
}

/*   HEADER'S STYLES  */
.background {
    background: url(/assets/img/Bitmap.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: relative;
}

.button-rate {
    background:#ffff 100% !important;
    border-color: #ffff 100%;
    border-radius: 2px;
    width: 20%;
    margin-left: 5%
}

.map-size {
    height: 250px;
    width: 100%;
}

.header {
    padding-top: 1%;
    color: #ffffff;
}

.restaurant-info {
    position: absolute;
    color: white;
    left: 30%;
    bottom: 10%;
    margin-left: 5%;
}

.p-r-l-1 {
    padding-right: 1%;
    padding-left: 1%;
}

.p-r-5 {
    padding-right: 5%;
}

.b-r-none {
    border-right: none !important
}

.extra-info {
    font-size: 14px !important;
    padding-left:2%
}

.extra-info-text {
    font-size: 18px;
    font-weight:400; 
    padding-left: 2%; 
    padding-top:3%
}

.b-radius-3 {
    border-radius: 3px !important;
}

.info {
    padding-right:6%;
    padding-left:6%; 
    padding-bottom: 4%
}

.light-mark {
    color: #FFFFFF;
    opacity:0.4;
    cursor: pointer;
    
}

.light-font {
    opacity: 0.4;
}

.red-mark {
    color: #FD6F60 ;
    opacity: 100
}

.white-mark {
    color: #ffff ;
    opacity: 100
}

.dolar-sign {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
    font-weight: 400;
}
.font-30 {
    font-size: 30px !important;
    font-weight: 300 !important;
}

/* GRAY BACKGROUND */
.grey-back{
    background-color: rgb(243, 239, 239);
    width: 100%;
    height: 100%;
}

/* PHOTO BOX */
.photo-box {
    width: 220px;
    height: 200px;
    background: red;
    position: absolute;
    top: 31%;
    left: 15%;
    border: 5px solid #ffffff; 
    border-radius: 3%;
    -moz-box-shadow:    outside 0 0 10px black;
    -webkit-box-shadow: outside 0 0 10px black;
    box-shadow:         outside 0 0 10px black;
}

.photo-box img {
    height: 100%;
    width:100%
}

.panels-padding {
   padding-left: 35%;   
}

.pan-title {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: rgba(19,29,36,0.40);
}

.pan-info {
    font-size: 12px !important;
    padding: 2%
}

.pan-text-padd{
    padding-left: 5%;
    padding-top:3%; 
    padding-right: 5%
}

.panel {
    background: #ffffff;  
    height: 100%; 
    width: 75%;
    border-radius: 2px; 
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
}
.container {
    padding-top:5%; 
}

.form-position {
    top: 50%;
    left: 50%
}

.input-date {
    background:#ffff !important;
    width: 100% !important;
}

.input-border {
    border: 1px solid #E3E3E3;
}

/*                          SEARCH BAR                            */

.font-family{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600 ;
    font-size: 16px;

}
.icon-pos {
  position: absolute; 
  top: 30%;
  right:10%; 
  font-size: 15px; 
  bottom: 0
}

.search-icon { 
  right: none;
  left: 5%;
  top: 25% !important;
}

.select-size {
    width: 100%; 
    height: calc(3rem + 2px) !important; 
    background: #ffffff !;
    padding-left: 10% 
}

.find-btn-red {
    background:#FD6F60 100% !important;
    border-color: #FD6F60 100%;
    border-radius: 0%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    width: 100%;
    height: calc(3rem + 2px) !important; 
    color: #ffff;
    font-size: 15px
}
/* MENU STYLES */
.menu-salad {
    padding-top:0%;
    padding-left: 7%; 
    color: #1A1A1A 100% !important;
    padding-right: 3%
}
.menu-product {
    display: flex;
    flex-direction: row;
    font-size: 18px !important;
    color: #1A1A1A 100% !important;
    width: 102%;
}
.menu-product::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dotted #000;
    opacity: 0.4;
    margin-bottom: 1.2%;
    margin-left: 1%;
}
.padd-bott {
    padding-bottom: 2% !important;
}

.multiple-price {
    display: flex;
    flex-direction: row;
    width: 120%
}

.multiple-price::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dotted #000;
    opacity: 0.4;
    margin-bottom: 1.2%;
    margin-left: 1%;
}

.price-padd {
    padding-right: 2%
}

.price-type {
    font-size: 13px;
    opacity: 0.4;
    margin-left: 6%
}

.active-menu {
    color: #FFFFFF !important;
    background: #FD6F60;
    border-radius: 2px;
}

.menu-types {
    color: #FD6F60;
    text-align: center;
    font-size: 15px;
    margin-top:6%
}

.menu-title {
    font-size: 20px;
    opacity: 0.4;

}
/* DROPDOWN SELECT GUEST*/
.dropbtn {
    -webkit-appearance: none;
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding-top: 4%;
    width: 100% !important;
    height: calc(3rem + 2px);
  }  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropdown-active {
    display: block;
  }

  .info-icon {
      font-size: 18px;
  }

  
