<div class="pt-5 pb-5">
  <div [hidden]="!addClicked">
    <div class="panel w-30" style="border-bottom: none">
      <div class="row p-1 pl-3">
        <div class="col-md-auto light-font" [class.red-font]="addTab==='Basic Details'"
          (click)="addTab='Basic Details'">Basic Details</div>
        <div class="col-md-auto light-font" [class.red-font]="addTab==='Menu'" (click)="addTab='Menu'">Menu</div>
        <div class="col-md-auto light-font" [class.red-font]="addTab==='Gallery'" (click)="addTab='Gallery'">Gallery
        </div>
        <div class="col-md-auto light-font" [class.red-font]="addTab==='Tables'" (click)="addTab='Tables'">Tables</div>

      </div>

    </div>
    <div class="panel pb-5">
      <app-basic-details (dataEmitter)="receiveBasicDetailsData($event)" [hidden]="addTab!=='Basic Details'"></app-basic-details>
      <app-menu [hidden]="addTab!=='Menu'"></app-menu>
      <app-gallery *ngIf="addTab==='Gallery'"></app-gallery>
      <app-tables *ngIf="addTab==='Tables'"></app-tables>
      <div class="row  pt-5 ml-3">
        <div class="col-md-auto pr-1">
          <button class="grey-button" (click)="cancel()"> Cancel</button>
        </div>
        <div class="col-md-auto ">
          <button class="red-button" (click)="print()" (click)="addRestaurant()" > {{buttonType}} restaurant </button>
        </div>
      </div>
    </div>
  </div>
  <table [hidden]="addClicked" class="table table-bordered "
    style="background:#fff;  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10); ">
    <thead>
      <tr>
        <th scope="col" colspan="5" style="width: 120%">Name{{restaurantBasicDetails}}</th>
        <th scope="col">Options </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurantData of restaurantsData">
        <th scope="row" colspan="5">{{restaurantData[1]}}</th>
        <td><span (click)="edit(restaurantData[0])" ><img class="icon" src="/assets/pencil.svg" alt="An example icon" /></span><span><img (click)="deleteRestaurant(restaurantData[0])" class="icon"
              src="/assets/trash.svg" alt="An example icon" /></span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container d-flex justify-content-center">
    <div class="row ">
      <div class="col-md-auto p-1  p-r-10" (click)="previousPage()">
        <p class="page-font">PREVIOUS</p>
      </div>
      <div class=" col-md-auto " *ngFor="let page of pages; let i=index" id="box">
        <div class="number-box page-font" [class.active-box]="selectedPageIndex === page" (click)="setPageIndex(page)">
          <div class="page-number ">
            {{page}}
          </div>
        </div>
      </div>
      <div class="col-md-auto p-1 page-font p-l-8" (click)="nextPage()">NEXT</div>
    </div>
  </div>