<app-header></app-header>


<div class="grey-back font-family">
    <div class="container mb-10 pt-5">
        <div class="panel p-2 " >
            <div class="row">
                <div class="col-md-auto light-font"  [class.red-font]="clickedNav==='Dashboard'" (click)="clickedNav='Dashboard'">
                    Dashboard
                </div>

                <div class="col-md-auto light-font " [class.red-font]="clickedNav==='Restaurants'" (click)="clickedNav='Restaurants'">
                    Restaurants
                </div>
                <div  class="col-md-auto light-font" [class.red-font]="clickedNav==='Locations'" (click)="clickedNav='Locations'">
                    Locations
                </div>
                <div class="col-md-auto light-font" [class.red-font]="clickedNav==='Categories'" (click)="clickedNav='Categories'">
                    Categories
                </div>

                <div class="col-md-auto light-font" [class.red-font]="clickedNav==='Users'" (click)="clickedNav='Users'">
                    Users
                </div>

            </div>
        </div>

        <div class="row pt-10" >
            <div class="col-4">
                <div class="panel  ">
                    <div class="row">
                        <div class="col-12 font-48 pb-0">567</div>
                        <div class="col-12 font-16 pt-0">Restaurants</div>
                    </div>
                    <button  ><span >Add new restaurant</span></button>                    
                </div>
            </div>
            <div class="col-4">
                <div class="panel ">
                    <div class="row">
                        <div class="col-12 font-48 pb-0">312</div>
                        <div class="col-12 font-16 pt-0">Locations</div>
                    </div>
                    <button  ><span >Add new location</span></button>                    
                </div>
            </div>
            <div class="col-4">
                <div class="panel  " >
                    <div class="row">
                        <div class="col-12 font-48 pb-0">432</div>
                        <div class="col-12 font-16 pt-0">Users</div>
                    </div>
                    <button ><span >Add new user</span></button>                    
                </div>
            </div>

        </div>

    </div>


</div>