
  <div class="row font-family" style="padding-top:3%;padding-left: 5%; padding-right: 5%;padding-bottom: 3%">
    <div class="col-2 ">
      <p class="menu-types " (click)="menuType='Breakfast'" [class.active-menu]="menuType==='Breakfast'">Breakfast</p>
    </div>
    <div class="col-2">
      <p class="menu-types" (click)="menuType='Lunch'" [class.active-menu]="menuType==='Lunch'">Lunch</p>
    </div>
    <div class="col-2">
      <p class="menu-types" (click)="menuType='Dinner'" [class.active-menu]="menuType==='Dinner'">Dinner</p>
    </div>
    <div class="col-md-auto ml-auto">
      <button class="font-family">Add new item</button>
    </div>
  </div>

  <div class="row ml-2 light-font">
    <div class="col-12 pb-3" >
      1.
      <input type="text"  class="ml-2 mb-2" placeholder="Name" > <input type="text" style="width:5% !important" placeholder="$ Price" class="ml-2">
      <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
      <div><input style="position: relative" type="text" width="100 px !important"  class="ml-4" placeholder="Description" ></div>
    </div>

    <div class=" col-12 pb-3">
      2.
      <input type="text"  class="ml-2 mb-2" placeholder="Name" > <input type="text" style="width:5% !important" placeholder="$ Price" class="ml-2">
      <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
      <div><input type="text"  class="ml-4" placeholder="Description" ></div>    </div>

    <div class="col-12 pb-3">
      3.
      <input type="text"  class="ml-2 mb-2" placeholder="Name" > <input type="text" style="width:5% !important" placeholder="$ Price" class="ml-2">
      <span class="ml-3 "><img class="icon" src="/assets/trash.svg" alt="An example icon" /></span>
      <div><input type="text"  class="ml-4" placeholder="Description" ></div>    </div>

  </div>

  


