



header {
    background: url(/assets/img/Bitmap.png) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.middle-gallery{

    background: url(/assets/img/image-pasta.jpg) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.alert-custom {
    color: #99004d;
    background-color: #f169b4;
    border-color: #800040;
  }

 .centered {
    position: absolute;
    padding-top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
  }
.nav-text-color{
    text-decoration-color: antiquewhite;
}

.header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 12%;
}

.container{
    position: relative;
}