<!--CHECK OUT LATER-->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
<header class="top" >

<!--NAV BAR-->  
    <app-header-navbar class="header-text-color"></app-header-navbar>

<!--CENTER TEXT-->                         
    <div class="container header-text-center" >
         <h1 class="font-size-48 thin-title" >Make a free reservation</h1>
        <p class="font-size-20" >Choose your table from 757 restaurants near you</p>
    </div>

<!--SEARCH BAR-->
    <div class="search-bar-paddings" >
        <app-search-bar (valueChange)="searchMatchedRestaurant($event)" ></app-search-bar>
    </div>

</header>
<!--GALLERY  style="text-align: center ;color: rgb(14, 14, 105);font-size: 30px; font-family:  font-weight: 400"-->
<div class="home-gall-padd">
    <div class="m-t-6">
        <h1 class="popular-title">Popular for Lunch today</h1>
    </div>
    <div class="m-b-10">
        <div >
                <div class="container gallery-padd">
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-xs-12 img-width" *ngFor="let restaurant of restaurantsFromDB; let i=index">
                            <div class="row">
                              <div class="col-12">
                                <img class="img-size" src="{{restaurant.promophoto}}" (click)="navigateRestaurantSinglePage(restaurant.id)">
                                <span class="res-name">{{restaurant.name}}</span>
                              </div>
                              <div class="col-md-auto p-r-0 " style="padding-right: 0">
                                <app-rating [rate]="restaurant.mark"></app-rating>
                              </div>
                              <div class="col-6 p-0 " >
                                <p style="padding-left:3%  !important; padding-top:1% " class=""> <!--temporarly-->
                                  <span>({{restaurant.votes}}) </span>
                                  <span  class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,1)">$</span>
                                  <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,2)" >$</span>
                                  <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,3)" >$</span>
                                  <span class="dolar-sign" [class.grey-font]="isPriceActive(restaurant.priceRange,4)" >$</span>
                                </p>
                              </div>
                              <div class="col-12 pt-0">
                                <hr class="hr-pos">
                                <span class="res-type">{{restaurant.foodTypes}} </span>
                              </div>
                              <div class="col-12">
                                <button (click)="navigateReservationPage(restaurant)" class="button wide-grey">Reserve
                                  now</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
          </div>
    </div>
</div>

<!--CAROUSEL GALLERY WITH BACKGROUND IMAGE-->
<div class="middle-gallery">
    <div class="carrousel-padd">
        <app-carousel-gallery  ></app-carousel-gallery>
    </div>
</div>
<br>
<br>
<!--POPULAR LOCATION
<h2 class="popular-title" > Popular Locations</h2>
<div>
    <app-popular-location></app-popular-location>
</div>
-->

<!--FOOTER-->
<div >
    <app-footer  ></app-footer>
</div>


  <p #alert role="alert" class="alert" *ngIf="dangerAlert" style="position: absolute; top:0;left:0; width:100%">
    <ngb-alert [type]="danger" (close)="dangerAlert = false" style="background:red; color: black">ERROR with reservation! You have to specified time date and number of guests before reservation!!</ngb-alert>
  </p>