



header {
    background: url(/assets/img/Bitmap.png) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.middle-gallery{

    background: url(/assets/img/image-pasta.jpg) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.alert-custom {
    color: #99004d;
    background-color: #f169b4;
    border-color: #800040;
  }

 .centered {
    position: absolute;
    padding-top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
  }
.nav-text-color{
    text-decoration-color: antiquewhite;
}

.header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 12%;
}

.container{
    position: relative;
    size: 100%
}



.bottom-center{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    font-size: 18px;
    margin-bottom: 5%;
    font-family: SourceSansPro-Semibold;
    color: #FFFF;
    cursor: pointer;
}


.carousel-title{

    color: #FFFF;
    text-align: center;
    padding-top: 5%; 
    padding-bottom:5%;
    font-family: SourceSansPro-Light;
    font-size: 30px;
    font-weight: 5;
}

.carousel-text-bottom{
    text-align: center; 
    padding-top: 5%;
    padding-bottom:5%;
    font-size: 18px;
    font-family: SourceSansPro-Semibold;
    cursor: pointer;
    font-weight: 900;
}

/* Container holding the image and the text */

  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }