<!--CHECK OUT LATER-->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
<header >

<!--NAV BAR-->  
    <app-header-navbar style="color: #ffff !important"></app-header-navbar>

<!--CENTER TEXT-->                         
    <div class="container header-text-center" >
         <h1 class="font-size-48" >Make a free reservation</h1>
        <p class="font-size-20" >Choose your table from 757 restaurants near you</p>
    </div>

    
 
<!--SEARCH BAR koji radi na zadovoljavajuci nacin
    <div class="box " style="margin-bottom:10% !important; position: absolute;align-content: center">
      <div> <app-search-bar  ></app-search-bar></div>
    </div>
-->

<!--SEARCH DOSTA BOLJI-->

 

    <div style="padding-right: 16%;padding-left:16%;padding-top:4%">
    <app-search-bar  ></app-search-bar>
    </div>

</header>


<!--GALLERY  style="text-align: center ;color: rgb(14, 14, 105);font-size: 30px; font-family:  font-weight: 400"-->

<div style="margin-top: 6%">
    <h1 class="popular-title">Popular for Lunch today</h1>
</div>
<div style="margin-bottom: 10%">
    <app-home-gallery></app-home-gallery>
</div>

<!--CAROUSEL GALLERY WITH BACKGROUND IMAGE-->
<div class="middle-gallery">
 
    <p class="carousel-title">Specials</p>
<div style="padding-left: 5%;padding-right:5%">
    <app-carousel-gallery style="left: 30%;right:30%" ></app-carousel-gallery>
</div>
    <p class="carousel-text-bottom"> See all specials</p>

</div>


<br>
<br>


<!--POPULAR LOCATION-->
<h2 class="popular-title" > Popular Locations</h2>
<div style="padding-right:9%;padding-left:9%;padding-bottom: 10%;" >
    <app-popular-location></app-popular-location>
</div>


<!--FOOTER-->
<div style="height: 1px">
    <app-footer  ></app-footer>
</div>