.vis{
    height: 120%;
}






.font-family{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600 ;
    font-size: 12px;
    text-size-adjust: 12px;
}
.search-slt{
    display: block;
  /*  width: 100%; */
  height: 120%;
    color: #131D24;
    background-color: #ffff;
    background-image :#ffff;
    border-radius: 0;
    border: 0;
  /*  height: calc(3rem + 2px) !important; */
    border-radius: 0;
  
}
button {
    width: 100%;
}
.button-style{
    
   
    background:#FD6F60 100% !important;
    border-color: #FD6F60 100%;
    border-radius: 0%;
    width: 100%;
    height: 120%;
    color: #ffff;

}

.select-style{
    font: bold;
    font-weight:800;
    font-size: 10px;
}