<form  action="#" method="post" novalidate="novalidate"  >
  <div class="row">
    <div class="col-lg-12 ">
      <div class="row ">
          <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 p-0">
            <input type="text" class="form-control search-slt font-family" style="font-weight:400 !important" placeholder="Location, Restaurant or Cousine">
           </div>
           <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6  p-0">
              <select class="form-control search-slt font-family" id="exampleFormControlSelect1" >
                  <option>2 people</option>
                  <option>Example option one</option>
                  <option>Example option two</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6  p-0">
                <select class="form-control search-slt font-family" id="exampleFormControlSelect1">
                    <option>Apr 29,2016</option>
                    <option>Example option one</option>
                    <option>Example option two</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6  p-0">
                <select class="form-control search-slt font-family" id="exampleFormControlSelect1">
                    <option>7:00 PM</option>
                    <option>Example option one</option>
                    <option>Example option two</option>
                </select>
              </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 p-0">
           <button type="button" class="btn font-family find-search" >Find a table</button>
          </div>
     </div>
   </div>
 </div>
</form>





