<div class="container pt-2 font-family"  >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:none !important">
      <button class="navbar-toggler" type="button" (click)="navbarOpen=!navbarOpen" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{'show' : navbarOpen}" class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link black-text" (click)="navigateHome()">ABH Restaurant <span class="sr-only">(current)</span></a>
          </li>
  
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link black-text" (click)="navigateHome()">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" (click)="navigateRestaurants()">Restaurants</a>
              </li>
              <div class="mt-1 mr-0">
                  <span  class="navbar-text black-text">
                      <i class="material-icons " style="font-size: 17px">person </i> 
            
                  </span>
              </div>
              <li class="nav-item ml-0">
                
                  <a class="nav-link black-text" >Amir</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link red-text" >Administration</a>
                </li>
        </ul>
      </div>
    </nav>
  </div>